body {
	background-image:url('images/lightnoise.png');
	margin:0px;
}

img {
  border:0;
  margin:0;
}

.header {
	background-image:url('images/darknoise.png');
	color:#e1e1e1;
	font-family:Sans-serif;
	width: 100%;
	padding-top:12px;
	padding-bottom:25px;
}

.header-title {
	font-size:28px;
	text-align:center;
	margin-bottom:12px;
}

.header-description {
	font-size:16px;
	max-width:700px;
	vertical-align:center;
	margin: 0px auto;
}

.footer {
	text-align:center;
	color:#151515;
	font-size:18px;
	font-family:Sans-serif;
	text-shadow: 0px 1px 0px #cdcdcd;
	margin-top:12px;
	margin-bottom:25px;
}

.footer img{
	margin-top:35px;
	margin-bottom:5px;
}

.image-area {
	margin-top:27px;
	text-align:center;
	vertical-align:middle;
}

.image-box {
	position:relative;
	box-shadow: 0px 0px 20px #000000;
	margin-left:0px auto;
	margin-right:0px auto;
	display:inline-block;
}

.image-label {
	color:#f0f0f0;
	font-size:18px;
	font-family:Sans-serif;
	background-color:rgba(0,0,0,0.67);
	padding-top:8px;
	padding-bottom:8px;
	text-align:left;
	position: absolute; 
	bottom: 0px; 
	left: 0; 
	width: 100%; 
}
